<div id="centralize">
<h1> Viagens</h1>


<table>
  <thead>
    <tr>
      <th>Destino</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viagems.each do |viagem| %>
      <tr>
        <td><%= viagem.name %></td>
        <td><%= viagem.date %></td>
        <td><%= link_to 'Show', viagem %></td>
        <td><%= link_to 'Edit', edit_viagem_path(viagem) %></td>
        <td><%= link_to 'Destroy', viagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<th><%= link_to 'Nova Viagem', new_viagem_path %></th>
</div>

