<div id="centralize">
<h1>Custos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custos.each do |custo| %>
      <tr>
        <td><%= custo.tipo.description%></td>
        <td><%= custo.data.strftime("%d-%m-%Y") %></td>
        <td><%= custo.valor %></td>
        <td><%= link_to 'Show', [@viagem,custo] %></td>
        <td><%= link_to 'Edit', edit_custo_path(custo) %></td>
        <td><%= link_to 'Destroy', custo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo custo', new_viagem_custo_path %>
<%= link_to 'Viagens', viagems_path %>
<strong><h2>Download:</h2></strong>
<%= link_to "Excel", viagem_custos_path(format: "xls") %>
<%= link_to "CSV", viagem_export_path(@viagem, format: "csv") %>

</div>



